<ion-header><ion-navbar></ion-navbar></ion-header>

<ion-content>
  <!-- QUESTIONS -->
  <ion-list no-lines *ngIf="!nav.startsWith('result ->')" [ngSwitch]="nav" @ngIfAnimation>
    <ion-item *ngSwitchCase="'start'" @questionTrigger>
      <ion-grid fixed>
        <h2>Spend-O-Mat Fragebogen starten</h2>
        <p text-wrap>
          Dieser Fragebogen soll dir eine grobe Einschätzung darüber geben, welche Zwecke du basierend
          auf deinen moralischen Vorstellungen und deiner Weltsicht vermutlich unterstützen wollen würdest. Dieser Fragebogen
          macht hierbei jedoch viele vereinfachende Annahmen, doch wir hoffen, dass er dir helfen wird deine eigenen
          Beweggründe für altruistisches Handeln besser zu verstehen.
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'specific reason'" @questionTrigger>
      <ion-grid fixed>
        <h2>Spezieller Zweck?</h2>
        <p text-wrap>
          Empfindest du eine vorrangige Verpflichtung dich für einen bestimmten Zweck oder eine bestimmte Gruppe
          einzusetzen?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'uncertain projects'" @questionTrigger>
      <ion-grid fixed>
        <h2>Risikoreiche Projekte?</h2>
        <p text-wrap>
          Ist es OK für dich risikoreiche Projekte zu priorisieren, falls der potentielle Nutzen hoch genug ist?
          Würdest du z.B. eher etwas tun, von dem du denkst, dass es eine 1%-ige Change hätte 1.000 Leben zu retten,
          als ein Leben sicher zu bewahren?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'time scope'" @questionTrigger>
      <ion-grid fixed>
        <h2>Wann willst du helfen?</h2>
        <p text-wrap>
          Sollten wir unsere Aufmerksamkeit auf die nächsten Jahrzehnte richten - vielleicht auf Grund unserer Pflicht
          unserer Generation gegenüber - oder weil wir die Zukunft nicht sicher beeinflussen können?
          Oder ist es lohnenswert sehr langfristige Ziele zu unterstützen?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'measurable goals'" @questionTrigger>
      <ion-grid fixed>
        <h2>Messbare Ziele?</h2>
        <p text-wrap>
          Sollten wir uns auf Projekte fokussieren, bei denen es möglich ist unseren Effekt zu messen und mit anderen
          Projekten zu vergleichen? Es ist nicht möglich, klar zu trennen welche Projekte hierunter fallen. Daher
          empfehlen wir, dass du dir gegebenenfalls auch den von dir nicht gewählten Pfad nochmals ansiehst.
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'more generations'" @questionTrigger>
      <ion-grid fixed>
        <h2>Sind mehr Generation besser?</h2>
        <p text-wrap>
          Es wird die Menschheit vermutlich nicht für immer geben. Wenn alles andere gleich bliebe, wäre es ein
          signifikant schlechteres Szenario, wenn die Menschheit früher aussterben würde (zum Beispiel in weniger
          hunderten statt tausnden von Jahren)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'existential risks'" @questionTrigger>
      <ion-grid fixed>
        <h2>Sind existentielle Risiken vermeidbar?</h2>
        <p text-wrap>
          Können wir die die Risiken der zukünftigen Auslöschung der Menschheit reduzieren (z.B. durch die Schaffung
          entsprechender Institutionen)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'improve society'" @questionTrigger>
      <ion-grid fixed>
        <h2>Kann man die Gesellschaft verbessern?</h2>
        <p text-wrap>
          Können wir durch gesellschaftliche Verbesserungen einen sehr langfristigen Effekt erzielen
          (z.B. indem neue Werte den Menschen durch schwere Zeiten helfen)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'knowledge values institutions'" @questionTrigger>
      <ion-grid fixed>
        <h2>Wie erzielen wir den größten langfristigen Effekt?</h2>
        <p text-wrap>
          Die Verbesserung welchen Aspekts würde den größten langfristigen Nutzen bringen: Institutionen,
          gesellschaftliche Moralvorstellungen oder das Wissen der Menschheit?
          Diese Frage ist schwierig und hängt von vielen Fakten ab: Werden die gesellschaftlichen Werte unabdingbar
          früher oder später in die gleiche Richtung driften? Werden bestimmte Technologien für die nahe Zukunft für
          das Überleben der Menschheit bestimmend sein (z.B. künstliche Intelligenz oder Human-Gentechnik)?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'environmental damage'" @questionTrigger>
      <ion-grid fixed>
        <h2>Richten wir einen permanten Schaden an der Umwelt an?</h2>
        <p text-wrap>
          Besteht eine hohe Wahrscheinlichkeit, dass der Mensch durch sein Handeln eine extreme, langfristige
          Veränderung der Umwelt herbeiführt (z.B. Treibhauseffekt, nuklearer Winter oder Kontamination der
          Weltmeere), die das Leben der Menschheit über die nächsten Jahrhunderte deutlich beschwerlicher machen würde?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'rights catastrophe knowledge'" @questionTrigger>
      <ion-grid fixed>
        <h2>Was ist wichtiger?</h2>
        <p text-wrap>
          Die ethischen und emipirischen Annahmen die wir bis hierhin diskutierten, haben keinen beschränkten Fokus. Die
          Vielzahl der Probleme müssen gegen ihre Nachverfolgbarkeit und Vernachlässigkeit geprüft werden. Hier sind
          einige Vorschläge für vernachlässigte und nachverfolgbare Problemgebiete. Welches davon wäre dir am
          wichtigsten?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'animals per human'" @questionTrigger>
      <ion-grid fixed>
        <h2>Wie viele Tierleben ist ein Menschenleben wert?</h2>
        <p text-wrap>
          Wie viele Jahre Leid von Hühnern müssten wir verhindern, um mehr Gutes zu tun als wenn wir ein Jahr Leid
          eines Menschen verhindern könnten? Wir nutzen an dieser Stelle Hühner, da diese ~95% aller Zuchttiere in
          der Landwirtschaft ausmachen.
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'farm life'" @questionTrigger>
      <ion-grid fixed>
        <h2>Ist Leben auf Bio-Höfen lebenswert?</h2>
        <p text-wrap>
          Wäre das Leben für ein Tier auf einem landwirtschaftlichen Betrieb nach Bio-Standard mit Freilauffläche
          besser als nie geboren worden zu sein?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'opportunity health'" @questionTrigger>
      <ion-grid fixed>
        <h2>Chancen oder Gesundheit?</h2>
        <p text-wrap>
          Ganz allgemein gesprochen, ist es besser sich darauf zu konzentrieren die Armut zu reduzieren und Chancen zu
          für Entwicklung zu ermöglichen oder Tod und Leid zu vermeiden?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'poverty education'" @questionTrigger>
      <ion-grid fixed>
        <h2>Lebensstandard oder Bildung?</h2>
        <p text-wrap>
          Nach derzeitigen statistischen Angaben existieren Hilfsorganisationen die folgendes mit 3.500$ erreichen
          können. Was davon sollten wir vorziehen?
        </p>
      </ion-grid>
    </ion-item>
    <ion-item *ngSwitchCase="'death suffering'" @questionTrigger>
      <ion-grid fixed>
        <h2>Tode oder Leid verhindern?</h2>
        <p text-wrap>
          Nach derzeitigen statistischen Angaben existieren Hilfsorganisationen die folgendes mit 3.500$ erreichen
          können. Was davon sollten wir vorziehen?
        </p>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- Answers -->
  <ion-list no-lines *ngIf="!nav.startsWith('result ->')">
    <ion-item class="card-background-page">
      <ion-grid fixed>
        <ion-row [ngSwitch]="nav" justify-content-center>
          <ion-col *ngSwitchCase="'start'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('specific reason')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/start.jpg"/>
              <div class="card-title">OK, verstanden</div>
              <div class="card-subtitle">Ich will so viel Gutes tun wie möglich!</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'specific reason'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> specific responsibility')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/specific_reason_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Ich weiß bereits sehr genau was und wem ich helfen will.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'specific reason'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('uncertain projects')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/unknown.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Ich habe höchstens eine wage Vorstellung davon, was und wen ich unterstützen sollte.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'uncertain projects'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('time scope')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/uncertain_projects_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Wir sollten tun, was auch immer den größten erwarteten Wert hat.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'uncertain projects'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('measurable goals')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/uncertain_projects_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Wir sollten sicherstellen, dass wir einen Unterschied machen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'measurable goals'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('animals per human')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/measurable_goals_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Nur messbare Projekte ermöglichen uns, uns kontinuierlich zu verbessern.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'measurable goals'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('rights catastrophe knowledge')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/measurable_goals_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Schwer zu messende Projekte werden sehr häufig vernachlässigt.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'time scope'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('more generations')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/time_scope_longterm.jpg"/>
              <div class="card-title">Langfristig</div>
              <div class="card-subtitle">Zukünftige Leben sind genauso wichtig wie heutige Leben, und wir können ihnen helfen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'time scope'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('measurable goals')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/time_scope_lifetime.jpg"/>
              <div class="card-title">Lebzeit</div>
              <div class="card-subtitle">Wir sollten uns auf die nächsten Jahrzehnte konzentrieren.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'more generations'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('existential risks')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/more_generations_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Es wäre ein Desaster, der Menschheit nicht die Möglichkeit einer lang andauernden Zukunft zu ermöglichen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'more generations'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('improve society')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/more_generations_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Sterben ist etwas schlimmes, aber nie geboren zu sein ist es nicht.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'existential risks'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> existential risks')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/existential_risks_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Wir können etwas tun, um unser Überleben langfristig wenigstens etwas wahrscheinlicher zu machen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'existential risks'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('improve society')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/existential_risks_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Die Risiken sind so fern, dass wir keinen bedeutsamen Effekt auf diese haben können.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'improve society'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('knowledge values institutions')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/improve_society_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Wir können Fortschritte erzielen, die lang andauern werden.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'improve society'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('knowledge values institutions')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/improve_society_maybe.jpg"/>
              <div class="card-title">Vielleicht</div>
              <div class="card-subtitle">Unsere Veränderungen könnten lange genug anhalten, um einen langfristigen Effekt zu haben.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'improve society'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('environmental damage')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/improve_society_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Die Veränderung wird sich mit der Zeit umkehren oder nie eintreten.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'knowledge values institutions'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human knowledge')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/knowledge.jpg"/>
              <div class="card-title">Wissen</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'knowledge values institutions'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> values')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/values.jpg"/>
              <div class="card-title">Werte</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'knowledge values institutions'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> institutions')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/institutions.jpg"/>
              <div class="card-title">Institutionen</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'environmental damage'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> environment')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/environmental_damage_yes.jpg"/>
              <div class="card-title">Ja</div>
              <div class="card-subtitle">Das Wohlergehen von hunderten Generationen ist bedroht.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'environmental damage'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('measurable goals')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/environmental_damage_no.jpg"/>
              <div class="card-title">Nein</div>
              <div class="card-subtitle">Die Wahrscheinlichkeit derart extremer Umweltbeeinflussung ist gering oder sie wäre nur von kurzer Dauer.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human rights')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/human_rights.jpg"/>
              <div class="card-title">Menschenrechte</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> catastrophe')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/catastrophe.jpg"/>
              <div class="card-title">Verhinderung globaler Katastrophen</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human knowledge')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/knowledge.jpg"/>
              <div class="card-title">Erweiterung des menschlichen Wissens</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'rights catastrophe knowledge'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('animals per human')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/unknown.jpg"/>
              <div class="card-title">Etwas Anderes</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'animals per human'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('opportunity health')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/animals_per_human_more.jpg"/>
              <div class="card-title">&gt;100</div>
              <div class="card-subtitle">Menschen zu helfen ist wichtiger, unter anderem weil es weitere indirekte Effekte hat.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'animals per human'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('farm life')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/animals_per_human_less.jpg"/>
              <div class="card-title">&lt;100</div>
              <div class="card-subtitle">Tierleid ist so real wie Menschenleid und moralisch genauso relevant.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'farm life'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> animal suffering')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/farm_life_yes.jpg"/>
              <div class="card-title">Ja</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'farm life'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> animal death')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/farm_life_no.jpg"/>
              <div class="card-title">Nein</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'opportunity health'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('poverty education')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/opportunities.jpg"/>
              <div class="card-title">Chancen</div>
              <div class="card-subtitle">Wir sollten Armut reduzieren und den Ärmsten neue Chancen bieten.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'opportunity health'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('death suffering')" class="clickable bright" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/health.jpg"/>
              <div class="card-title">Gesundheit</div>
              <div class="card-subtitle">Wir sollten vor allem Leid verhindern.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'opportunity health'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> other')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/unknown.jpg"/>
              <div class="card-title">Etwas Anderes</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'poverty education'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> poverty')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/poverty.jpg"/>
              <div class="card-title">Armutsbekämpfung</div>
              <div class="card-subtitle">Das Einkommen von drei Familien für ein Jahr verdoppeln.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'poverty education'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> education')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/education.jpg"/>
              <div class="card-title">Bildung</div>
              <div class="card-subtitle">10 Schuljahre für drei Kinder ermöglichen.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'death suffering'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human death')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/death.jpg"/>
              <div class="card-title">Tod</div>
              <div class="card-subtitle">Den Tod eines Kindes durch Malaria verhindern.</div>
            </ion-card>
          </ion-col>
          <ion-col *ngSwitchCase="'death suffering'" col-12 col-md-6 col-xl-4 @ngIfAnimation>
            <ion-card (click)="answer('result -> human health')" class="clickable" @questionTrigger text-wrap>
              <img src="../../assets/imgs/questionaire/suffering.jpg"/>
              <div class="card-title">Leid</div>
              <div class="card-subtitle">1000 Menschen 10 Jahre lang benötigte Vitamine verabreichen.</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <!-- RESULTS -->
  <ion-grid fixed *ngIf="nav.startsWith('result ->')" [ngSwitch]="nav">
    <ion-row justify-content-center>
      <ion-col *ngSwitchCase="'result -> existential risks'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Existentielle Risiken reduzieren</ion-card-title>
            <p>
              Da Zivilisationen für Jahrtausende oder gar Jahrmillionen überdauern
              könnten, ist der gesamte Wert der Zukunft gewaltig. Selbst eine minimale Reduzierung der Wahrscheinlichkeit der
              Auslöschung der Menschheit hat großen Wert. Dies kann durch verschiedene Maßnahmen erreicht werden:
            </p>
            <ul>
              <li>Internationale Kooperation fördern, um die generelle Wahrnehmung von Risiken
                von unvorgesehende neuen Technologien zu verbessern und sich besser darauf vorbereiten zu können.</li>
              <li>Arbeit daran einen extremen, unaufhaltsamen Klimawandel und andere potentiell dramatische Veränderungen der Umwelt besser zu verstehen,
                um für den Menschen katastrophale Veränderungen zu verhindern.</li>
              <li>Die Aufmerksamkeit bzgl. Risiken künstlicher Intelligenzen erhöhen und daran forschen, dass
                KIs moralisch handeln und eingesetzt werden.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> specific responsibility'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Deine spezifische Verantwortung</ion-card-title>
            <p>
              Wenn du für dich eine übergeordnete Berufung siehst für eine bestimmte Gruppe oder einen bestimmten Grund tätig zu
              werden, dann könntest du dieser Berufung folgen. Falls du mehrere solcher Ziele verfolgst, oder dir nicht
              sicher bist, ob vorhandene Organisationen dein Ziel auch unterstützen, hilft es dir vielleicht dir unsere
              <u (click)="gotoTabSearch()">Datenbank zu effektiven Hilfsorganisationen</u> anzusehen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human knowledge'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Das menschliche Wissen erweitern</ion-card-title>
            <p>
              Forschung und Entwicklung ist üblicherweise etwas, was von unterschiedlichen Parteien aus verschiedenen
              Motiven betrieben wird, sofern es dringend oder lohnenswert erscheint. Da etwas früher oder später also
              von jemand anderem in diesem Bereich gemacht werden würde, handelt es sich hierbei in der Regel nicht um
              langfristige Verbesserungen. Dennoch kann es manchmal einen großen Unterschied machen eine bestimmte
              Schlüsseltechnologie oder verbessertes Wissen einige Jahre oder Dekaden früher zu erlangen.
              Derzeitige Beispiele hierfür:
            </p>
            <ul>
              <li>
                Die Entwicklung effektiverer Energiequellen, bevor die Knappheit der Öl-Vorräte zu internationalen
                Konflikten führt.
              </li>
              <li>
                Die Entwicklung besserer landwirtschaftlicher Methoden, um die Auswirkung der Landwirtschaft auf den
                Klimawandel zu reduzieren.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einschätzung des Teams vom EA Hamburg ausgewählt. Rückfragen können
              über das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivität entsprechender  Maßnahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme für die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausmaß, Vernachlässigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage über Wirksamkeit einer bestimmten Maßnahme machen zu können,
              müssen zunächst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden können. Ein Beispiel für dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit größeren Hürden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu berücksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verfügung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher können manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in abschätzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> values'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Werte und Moralvorstellungen</ion-card-title>
            <p>
              Die Werte nach denen Menschen leben, können eine signifikante Auswirkung auf den langfristige Weg der
              Menschheit haben. Es wäre möglich, dass in den nächsten Jahrhunderten ein "value lock-in" stattfinden:
              Durch Technologie oder Institutionen könnte verhindert werden, dass gesellschaftliche
              Werte einzelner Individuen stark abweichen oder sich verändern. Falls dies eintritt, sollten wir dafür
              Sorge tragen, dass unsere sozialen Werte bereits zuvor so gut wie möglich sind.
              Dies betrifft derzeit insbesondere diese Aspekte:
            </p>
            <ul>
              <li>
                Rassismus und andere Formen der Diskriminierung könnten in unseren Gesellschaften unbegrenzt weiter
                existieren, wenn Menschen nicht die nötige Empathie besitzen. Eventuell gibt es Wege, dies grundlegend
                zu ändern.
              </li>
              <li>
                Wenn alle Menschen altruistischer wären, dann wären sie auch eher bereit zusammenzuarbeiten und unsere
                globale Probleme zu lösen.
              </li>
              <li>
                Nicht-menschliche Lebewesen könnten auch zukünftig zu wenig Rechte besitzen, falls nicht frühzeitig ein
                moralischer Konsens erzielt wird.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einschätzung des Teams vom EA Hamburg ausgewählt. Rückfragen können
              über das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivität entsprechender  Maßnahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme für die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausmaß, Vernachlässigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage über Wirksamkeit einer bestimmten Maßnahme machen zu können,
              müssen zunächst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden können. Ein Beispiel für dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit größeren Hürden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu berücksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verfügung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher können manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in abschätzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> institutions'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Institutionen verbessern</ion-card-title>
            <p>
              Institutionen waren in der bisherigen Menschheitsgeschichte ein kritischer Faktor in der
              Gesellschaftsentwicklung und werden es vermutlich auch zukünftig sein.
              Einige Dinge können wir jedoch besser machen als bisher:
            </p>
            <ul>
              <li>
                Wir könnten die internationale Kooperation verbessern, um potentiell gefärliche Technologien besser zu
                regulieren und ein Wettrüsten zu verhindern.
              </li>
              <li>
                Wir könnten die Transparenz der Regierungen und Berichterstattungsstandards verbessern, um die Entstehung
                permanenter totalitäter Regime durch neue Technologien zu verhindern.
              </li>
              <li>
                Wir könnten versuchen nachhaltig handelnde Institutionen zu schaffen, die entscheidend zu einer positiven Entwicklung
                der Gesellschaft beitragen, aber aus irgendeinem Grund bislang nicht erschaffen wurden und es vielleicht auch in Zukunft nicht würden.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einschätzung des Teams vom EA Hamburg ausgewählt. Rückfragen können
              über das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivität entsprechender  Maßnahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme für die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausmaß, Vernachlässigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage über Wirksamkeit einer bestimmten Maßnahme machen zu können,
              müssen zunächst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden können. Ein Beispiel für dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit größeren Hürden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu berücksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verfügung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher können manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in abschätzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> environment'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Permanente Umweltschäden verhindern</ion-card-title>
            <p>
              Während Zivilisationen sich von allen erdenklichen Katastrophen innerhalb von wenigen tausend Jahren
              erholen kann, sind dies dennoch hunderte oder tausende von Generationen die auf dem Weg dorthin darunter
              leiden müssen. Selbst wenn es nur eine kleine Chance gibt einen katastrophalen Schaden wie diesen zu
              verhindern, ist der potentielle Effekt es wert:
            </p>
            <ul>
              <li>
                ückkopplungseffekte wie das Schmelzen von Permafrost, könnten durch das dadurch freigesetzte
                Methangas den Großteil der Erde in eine Wüste verwandeln.
              </li>
              <li>
                Zur Neige gehende natürliche Ressourcen könnten die Wiederaufbau der Zivilisation nach einer
                Katastrophe erschweren.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human rights'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Menschenrechte</ion-card-title>
            <p>
              Für viele Menschen ist die Welt auf Grund von Gewalt und Unterdrückung ein unfreundlicher
              und unsicherer, oder sogar grausamer Ort.
              Diese Probleme zu lösen wird neben den direkten Effekten vermutlich auch noch weitere indirekte
              postive Effekte für die kommenden Jahrezehnte haben:
            </p>
            <ul>
              <li>
                Wir könnten Menschen in totalitäten Regimen beraten und unterstützen, um ihnen die Werkzeuge zu geben
                sich zu wehren oder zu entkommen.
              </li>
              <li>
                Wir könnten mit nicht-totalitären Regierungen zusammenarbeiten, um bestimmte kriminelle Handlungen zu ahnden
                die bis dahin ignoriert wurden.
              </li>
              <li>
                Wir könnten unabhängig von Regierungen Dienste zum Schutz von Menschenrechten bereitstellen, um dort
                zu handeln, wo die Regierungsbehörden nicht schnell genug reagieren können.
              </li>
              <li>
                Wir könnten uns für vielerlei Arten des strukturellen Wandels in politischen und ökonomischen Systemen
                einsetzen.
              </li>
            </ul>
            <strong>
              Die objektive Beurteilung dieser Organisation (bzw. dieses Problembereichs) wirft einige Schwierigkeiten auf
              und wurde daher anhand der subjektiven Einschätzung des Teams vom EA Hamburg ausgewählt. Rückfragen können
              über das Kontaktformular gestellt werden.
            </strong>
            <p>
              Innerhalb der Bewegung des Effektiven Altruismus gibt es verschiedene Organisationen, die sich mit der Analyse
              unterschiedlicher Problembereiche und der Effektivität entsprechender  Maßnahmen auseinandersetzen. Dabei
              orientieren sich die meisten Bewertungssysteme für die Priorisierung von Problembereichen an den Hauptkriterien
              "Ausmaß, Vernachlässigung und Beeinflussbarkeit", bzw. an Varianten davon.
            </p>
            <p>
              Um innerhalb dieser Problembereiche nun eine Aussage über Wirksamkeit einer bestimmten Maßnahme machen zu können,
              müssen zunächst die Hauptkriterien in messbare Metriken heruntergebrochen werden. Danach gilt es eine umfassende
              Datenbasis zu schaffen, auf welche diese Metriken angewandt werden können. Ein Beispiel für dieses Vorgehen ist
              auf der Website von <a href="https://80000hours.org/articles/problem-framework/">80.000 Hours</a> (auf Englisch)
              zu finden.
            </p>
            <p>
              Dabei ist die Evaluation mancher Interventionen mit größeren Hürden verbunden als die anderer, unter anderem da
              es in manchen Bereichen viel mehr Unsicherheiten zu berücksichtigen gibt. Eine weitere Problematik stellt die
              noch nicht zur Verfügung stehende Datenbasis zur Auswertung langfristiger Interventionen dar. Daher können manche
              Interventionen (noch) nicht auf einer objektiven validen Basis bewertet werden, obwohl sie in abschätzenden
              Voranalysen hohes Potential versprechen.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> catastrophe'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Katastrophen verhindern</ion-card-title>
            <p>
              Globale Katastrophen werden häufig vernachlässigt, da wir uns ihre Konsequenzen oft schwer vorstellen können und
              sie auf zahlreiche Länder verteilt sind.
            </p>
            <ul>
              <li>Der Klimawandel könnte hohe Opferzahlen durch Hungersnöte, Überschwemmungen und Massenflucht fordern.</li>
              <li>
                Epidemologisten sagen voraus, dass eine natürliche Pandemie in absehbarer Zeit auftreten und hunderte
                Millionen Opfer fordern könnte.
              </li>
              <li>Die derzeitige Wahrscheinlichekeit eines nuklearen Kriegs ist groß genug, um besorgt zu sein.</li>
              <li>
                Einige betrachten das Altern an sich als eine existente Katastrophe: Es sterben jedes Jahr Millionen Menschen.
                Viel Geld wird in die Behandlung der Symptome gesteckt, nur wenig in die Erforschung einer Heilung.
              </li>
              <li>
                Einige betrachten das Leid von Wildtieren als eine anhaltende Katastrophe. Viele Milliarden Tiere werden
                jedes Jahr lebendig gefressen oder verhungern.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> animal suffering'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Tierleid mindern</ion-card-title>
            <p>
              Auch wenn Tierhaltung für die Lebensmittelproduktion in humaner Weiser durchgeführt werden kann, ist
              Massentierhaltung doch einer der Hauptgründe für unnötiges Tierleid.
            </p>
            <ul>
              <li>Wir könnten Produkte aus Massentierhaltung regulieren oder boykotieren.</li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> animal death'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Tierleben retten</ion-card-title>
            <p>
              Die Anzahl Tierleben die in Gefangenschaft geboren werden und für die Lebensmittelproduktion sterben ist
              gewaltig.
            </p>
            <ul>
              <li>Wir könnten eine vegetarische oder vegane Lebensweise bewerben, um den Fleischkonsum zu reduzieren.</li>
              <li>
                Wir könnten bessere Verfahren zur Herstellung künstlicher Tierprodukte oder Tierersatzprodukte entwickeln,
                um den Bedarf an Fleich von Tierfarmen zu verringern.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> poverty'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Lebensstandards</ion-card-title>
            <p>
              Mehr als eine Milliarden Menschen leben derzeit von weniger als 1,05 € am Tag. Angesichts systematische Ungleichheit
              und derzeitiger Politk der Industrienationen könnten legislative Änderungen oder
              direkte Interventionen die dramatische Verbesserung der Lebensqualität dieser Menschen bei nur geringen
              Kosten bewirken.
            </p>
            <ul>
              <li>
                Regierungen könnten durch Lobbyarbeit dazu gebracht werden, grundlegende Dienstleistungen und Infrastruktur
                für die Menschen bereitzustellen, die es am dringendsten brauchen.
              </li>
              <li>
                Wichtige Dienstleistungen und Infrastruktur können direkt von nicht-kommerziellen, durch Privatspenden
                gesponsert Hilfsorganisationen (NGOs) bereitgestellt werden.
              </li>
              <li>
                Auch direkt Geld an diese benachteiligte Gemeinschaften zu geben (sofern die Verteilung korrekt umgesetzt
                ist) kann durch dadurch mögliche Investitionen viel zur Erhöhung des Lebensstandard beitragen.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> education'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Bildung</ion-card-title>
            <p>
              In vielen Ländern ist Bildung eine Seltenheit, besonders für Mädchen. Schulen sind oft schlecht
              ausgestattet. Als Resultat sind Millionen von Menschen Analphabeten ohne relevante Bildung und haben
              somit große Schwierigkeiten der Armut zu entkommen.
            </p>
            <ul>
              <li>
                Privatschulen in Lagos kosten im Schnitt 30 € pro Schüler und Schuljahr.
                Breitere Vergfügbarkeit von erschwinglicher Bildung könnte dazu beitragen,
                dass der Lebensstandard von sehr vielen Menschen in diesen Ländern steigt.
              </li>
              <li>
                Kinder zu entwurmen, und damit vom in vielen Entwicklungsländern gewöhnlichen Parasitenbefall zu befreien,
                ermöglicht ihnen häufiger in die Schule zu gehen und führt nachweislich zu einer deutlichen Verbesserung
                ihres späteren Lebensstandards.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human death'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Menschenleben retten</ion-card-title>
            <p>
              In Entwicklungsländern sterben jeden Tag tausende von Menschen durch Hunger oder einfach zu verhindernde
              Krankheiten.
            </p>
            <ul>
              <li>
                Anti-Moskitonetze könnten gekauft und in betroffenen Regionen verteilt werden.
                Im Schnitt kann dadurch je 2.500 € ein Kind davor bewahrt werden an Malaria zu sterben.
              </li>
              <li>
                Wir könnten die Untersuchung von vernachlässigten Krankheiten und Epidemien fördern, um gezielt
                Heilmittel, Präventionsmittel und Behandlungen zu entwickeln und anzuwenden.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> human health'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Globale Gesundheit</ion-card-title>
            <p>
              Millionen von Menschen leiden an leicht zu verhindernen Krankheiten, Parasitenbefall oder Vitaminmangel.
              Weitere Millionen haben keinen Zugang zu sauberem Trinkwasser oder ausgewogener Nahrung.
            </p>
            <ul>
              <li>
                Essentielle Vitamine und Mineralstoffe können in ärmlichen Gegenden verteilt werden.
                Die Kosten für die komplette Nahrungsmittelergänzung für ein Jahr betragen pro Person nur 0,25 €.
                Dies hilft vor allem betroffenen Kindern gesünder aufzuwachsen und wirkt der geistigen und
                körperlichen Unterentwicklung entgegen.
              </li>
              <li>
                Regierungen können durch Lobbyarbeit auf den wirtschaftlichen Nutzen von Investitionen in das
                Gesundheitswesen aufmerksam gemacht werden.
              </li>
              <li>
                Wir können die Untersuchung von vernachlässigten Krankheiten und Epidemien fördern, um gezielt
                Heilmittel, Präventionsmittel und Behandlungen zu entwickeln und anzuwenden.
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col *ngSwitchCase="'result -> other'" col-12 col-md-6 col-xl-6>
        <ion-card>
          <ion-card-header>Dein Testresultat</ion-card-header>
          <ion-card-content text-wrap>
            <ion-card-title>Wir wissen es nicht</ion-card-title>
            <p>
              Vermutlich fehlen uns noch ein paar Ziele zur Verbesserung der Welt. Wenn dir Ursachen und Fragen einfallen,
              die in diesem Fragebogen auftauchen sollten, dann teile uns dies gerne mit.
            </p>
            <p>
              Eventuell empfiehlt es sich für dich, dass du unsere <u (click)="gotoTabSearch()">Datenbank effektiver Hilfsorganisationen</u> mit deinen
              eigenen Suchkriterien erkundest.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md-6 col-xl-6>
        <ion-card *ngIf="organizations.length > 0">
          <ion-card-content text-wrap>
            <p>Diese Hilfsorganisationen haben sich dem von dir präferierten Ziel gewidmet.</p>
          </ion-card-content>
        </ion-card>
        <ion-list>
          <ion-item-sliding *ngFor="let o of organizations">
            <ion-item text-wrap>
              <ion-thumbnail item-start>
                <img src="../../assets/imgs/organizations/{{ o.thumbnail }}.jpg"/>
              </ion-thumbnail>
              <h2>{{ o.name }}</h2>
              <h3>{{ o.slogan }}</h3>
              <p>{{ o.shortDescription }}</p>
              <ion-badge *ngFor="let e of o.evaluators" color="{{ e.top && 'danger' || 'secondary' }}" style="margin-right: 3px">{{e.evaluator}}</ion-badge>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="primary" (click)="openOrganizationPage({o: o})">
                <ion-icon name="information-circle"></ion-icon>
                Mehr Info
              </button>
              <a [href]="o.website">
                <button ion-button color="secondary">
                  <ion-icon name="browsers"></ion-icon>
                  Website
                </button>
              </a>
              <a [href]="o.donationLink">
                <button ion-button color="danger">
                  <ion-icon name="cash"></ion-icon>
                  Spenden
                </button>
              </a>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
        <button ion-button block (click)="answer('start')">Test wiederholen</button>
        <button ion-button block color="secondary" (click)="gotoTabSearch()">Mehr Organisationen finden</button>
      </ion-col>
    </ion-row>
    <div class="bottom-space"></div>
  </ion-grid>
</ion-content>
