<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="questionnaire">
      <ion-icon name="list-circle"></ion-icon>
      <ion-label>Spend-O-Mat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Suche</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="school"></ion-icon>
      <ion-label>&Uuml;ber uns</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="chatbox-ellipses"></ion-icon>
      <ion-label>Kontakt</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
