<ion-app>
  <app-header [title]="titleService.title | async"></app-header>

  <ion-router-outlet></ion-router-outlet>

  <!--
  <ion-footer no-border [ngClass]="'tabs-' + tabsPlacement">
    <ion-toolbar fixed color="dark">
      <span class="clickable" (click)="webAnalyticsService.pageView('imprint', 'Impressum'); modalService.openImprintModal()">Impressum</span>
      |
      <span class="clickable" (click)="webAnalyticsService.pageView('privacy', 'Datenschutz'); modalService.openPrivacyModal()">Datenschutzerkl&auml;rung</span>
    </ion-toolbar>
  </ion-footer>
  -->
</ion-app>
