<ion-header><ion-navbar></ion-navbar></ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-list>
      <ion-searchbar placeholder="Fang hier an zu suchen..." [(ngModel)]="searchTerm" (ionInput)="search()"></ion-searchbar>
      <ion-item>
        <ion-label>Erweiterte Suche</ion-label>
        <ion-toggle [(ngModel)]="advancedSearch" checked="false" (ionChange)="search()"></ion-toggle>
      </ion-item>
      <ion-item *ngIf="advancedSearch">
        <ion-label>Interventionen</ion-label>
        <ion-select [(ngModel)]="searchInterventions" multiple="true" submitText="Suchen" cancelText="Abbrechen" (ionChange)="search()">
          <ion-option value="Biotechnik">Biotechnik</ion-option>
          <ion-option value="Entwurmung">Entwurmung</ion-option>
          <ion-option value="KI">KI</ion-option>
          <ion-option value="Klimaschutz">Klimaschutz</ion-option>
          <ion-option value="Malaria Netze">Malaria Netze</ion-option>
          <ion-option value="Nukleartechnologie">Nukleartechnologie</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item-sliding *ngFor="let o of organizations">
        <ion-item text-wrap>
          <ion-thumbnail item-start>
            <img src="../../assets/imgs/organizations/{{ o.thumbnail }}.jpg"/>
          </ion-thumbnail>
          <h2>{{ o.name }}</h2>
          <h3>{{ o.slogan }}</h3>
          <p>{{ o.shortDescription }}</p>
          <ion-badge item-end *ngIf="o.topCharity" color="danger">Top</ion-badge>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="primary" (click)="openOrganizationModal({o: o})">
            <ion-icon name="information-circle"></ion-icon>
            Mehr Info
          </button>
          <a [href]="o.website">
            <button ion-button color="secondary">
              <ion-icon name="browsers"></ion-icon>
              Website
            </button>
          </a>
          <a [href]="o.donationLink">
            <button ion-button color="danger">
              <ion-icon name="cash"></ion-icon>
              Spenden
            </button>
          </a>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-grid>
</ion-content>
